<div>
    <div>
        <stream-item [streamItem]="list"></stream-item>
        <div class="stream-container">
            <div>
                <div>
                    <img src="{{sourcePicture}}"/>
                </div>
                <stream-source
                        [inputStream]="streamSourceInput"
                        (outputStream)="sourceComplete($event)"></stream-source>
            </div>
            <div>
                <div>
                    <img src="{{filterPicture}}"/>
                </div>
                <filter-stream (outputStream)="filterOneComplete($event)"
                               [inputStream]="sourceOutput"
                               [filterFunction]="filterOne"
                ></filter-stream>
            </div>
            <div>
                <div>
                    <img src="{{flatmapPicture}}"/>
                </div>
                <flatMap-stream (outputStream)="flatMapOneComplete($event)"
                                [inputStream]="filterOutputStream"
                                [mappingFunction]="flatMapOne"
                ></flatMap-stream>
            </div>
            <div>
                <div>
                    <img src="{{mapPicture}}"/>
                </div>
                <map-stream (outputStream)="mapOneComplete($event)"
                            [inputStream]="flatMapOutputStream"
                            [mappingFunction]="mapOne"
                ></map-stream>
            </div>
        </div>
    </div>
</div>