.base-stream-component > div{
  position: absolute;
}

.stream-container {
  display: flex;
}

.stream-container > div {
  min-height: 100px;
  background: rgba(25,25,35,0.25);
  margin-right: 0.5em;
  border-radius: $border-radius;
  flex-grow: 1;
}

.base-stream-component {
  min-height: 100px;
  flex-grow: 1;
  position: relative;
}

.stream-transition {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  border: rebeccapurple solid;
  border-radius: $border-radius;
}

.stream-transition > div {
  flex-grow: 1;
}

.multi-item-stream {
  position: relative;
  border: orange solid;
  display: flex;
}

.multi-item-stream > div {
  position: relative;
  flex-grow: 1;
}