<div>
    <main role="main" class="container">
        <div class="jumbotron heading">
            <h1>Hot Sequence</h1>
            <div>
                <p class="lead">
                    A demultiplexer (or demux) is a device that takes a single input line and routes it to one of several output lines.
                </p>
            </div>
        </div>
    </main>
    <div>
        <a class="btn btn-sm btn-warning"
           routerLink="/streams">back</a>
        <a class="btn btn-lg btn-success"
           (click)="addSubscriber()">Add Subscriber</a>
        <div>
            <stream-item [streamItem]="list"></stream-item>
            <div class="stream-container">
                <div *ngFor="let subscriber of subscribers">
                    <div>
                        <div>
                            <img src="{{sourcePicture}}"/>
                        </div>
                        <stream-source
                                [inputStream]="streamSourceInput"
                                (outputStream)="sourceComplete($event)"></stream-source>
                    </div>
                    <div>
                        <complete-view [sourceOutput]="sourceOutput"></complete-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

