<div>
    <main role="main" class="container">
        <div class="jumbotron heading">
            <h1>Cold Sequence</h1>
            <div>
                <p class="lead">
                    A Cold Sequence starts anew for each Subscriber, including at the source of data.
                    Every subscriber will see the entire sequence.
                </p>
            </div>
        </div>
    </main>
    <div>
        <a class="btn btn-lg btn-success"
           (click)="addSubscriber()">Add Subscriber</a>
        <div>
            <stream-item [streamItem]="list"></stream-item>
            <div *ngFor="let subscriber of subscribers">
                    <complete-cold-view [itemsToMoveAlong]="itemsToMoveAlong"></complete-cold-view>
            </div>
        </div>
    </div>
</div>

