<div>
    <main role="main" class="container">
        <div class="jumbotron heading">
            <h1>Demuliplexer</h1>
            <div>
                <p class="lead">
                    A demultiplexer (or demux) is a device that takes a single input line and routes it to one of several digital output lines.
                </p>
            </div>
        </div>
    </main>
    <div>
        <a class="btn btn-sm btn-warning"
           routerLink="/streams">back</a>
        <div>
            <stream-item [streamItem]="list"></stream-item>
            <div class="stream-container">
                <div>
                    <div>
                        <img src="{{sourcePicture}}"/>
                    </div>
                    <stream-source
                            [inputStream]="streamSourceInput"
                            (outputStream)="sourceComplete($event)"></stream-source>
                </div>
                <div>
                    <div>
                        <div>
                            <img src="{{mapPicture}}"/>
                        </div>
                        <map-stream (outputStream)="mapOneComplete($event)"
                                    [inputStream]="sourceOutput"
                                    [mappingFunction]="mapOne"
                        ></map-stream>
                    </div>
                    <div>
                        <div>
                            <img src="{{mapPicture}}"/>
                        </div>
                        <map-stream (outputStream)="mapOneCompleteNoStart($event)"
                                    [inputStream]="sourceOutput"
                                    [mappingFunction]="mapOne"
                        ></map-stream>
                    </div>
                    <div>
                        <div>
                            <img src="{{mapPicture}}"/>
                        </div>
                        <map-stream (outputStream)="mapOneCompleteNoStart($event)"
                                    [inputStream]="sourceOutput"
                                    [mappingFunction]="mapOne"
                        ></map-stream>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

