<div>
    <main role="main" class="container">
        <div class="jumbotron heading">
            <h1>Hot Sequence</h1>
            <div>
                <p class="lead">
                    Hot Sequences do not start from from the beginning for every Subscriber.
                    Rather, late subscribers receive only signals emitted after they subscribed.
                </p>
            </div>
        </div>
    </main>
    <div>
        <a class="btn btn-sm btn-warning"
           routerLink="/streams">back</a>
        <a class="btn btn-lg btn-success"
           (click)="addSubscriber()">Add Subscriber</a>
        <div>
            <stream-item [streamItem]="list"></stream-item>
            <div class="stream-container">
                <div>
                    <div>
                        <img src="{{sourcePicture}}"/>
                    </div>
                    <stream-source
                            [inputStream]="streamSourceInput"
                            (outputStream)="sourceComplete($event)"></stream-source>
                </div>
                <div>
                    <div *ngFor="let subscriber of subscribers">
                        <complete-view [sourceOutput]="sourceOutput"></complete-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

