<div>
    <main role="main" class="container">
        <div class="jumbotron heading">
            <h1>Map</h1>
            <div>
                <p class="lead">
                    Transforms the contents of the stream.
                </p>
                <div class="lead">
                    <p>
                        Accepts a function that accepts the current stream type
                        and returns another (even similar) type.
                    </p>
                </div>
            </div>
        </div>
    </main>
    <div>
        <a class="btn btn-sm btn-warning"
           routerLink="/streams">back</a>
        <div>
            <div class="stream-container">
                <div>
                    <div>
                        <img src="{{triangleSource}}"/>
                    </div>
                    <stream-source
                            [inputStream]="streamSourceInput"
                            (outputStream)="sourceComplete($event)"></stream-source>
                    <div>
                        <img src="{{sourcePicture}}"/>
                    </div>
                    <stream-source
                            [inputStream]="streamSourceInputOther"
                            (outputStream)="sourceCompleteOther($event)"></stream-source>
                </div>
                <div>
                    <div>
                        <img src="{{trianglePlusCircleToSquare}}"/>
                    </div>
                    <zip-stream
                                [inputStream]="sourceOutput"
                                [otherInputStream]="sourceOutputOther"
                                [zippingFunction]="mapOne"
                    ></zip-stream>
                </div>
            </div>
        </div>
    </div>
</div>

