<main role="main" class="container">
    <div class="jumbotron">
        <h1>Tying It Together</h1>
        <div>
            <p class="lead">
                Combining all of the elements so far!
            </p>
            <div class="lead">
                <p>
                    Taking a stream source from a list.
                </p>
                <p>
                    Disregarding any purple items, there's enough
                    purple at the moment. (Filter)
                </p>
                <p>
                    Converting the circles into many Triangles. (Flat Map)
                </p>
                <p>
                    Finally for no reason, converting the Triangles into
                    Squares. (Map)
                </p>
            </div>
        </div>
    </div>
</main>
<div>
    <div>
        <a class="btn btn-sm btn-warning"
           routerLink="/streams">back</a>
        <div class="btn btn-lg btn-primary" (click)="startStreamOne()">
            send item
        </div>
        <stream-item [streamItem]="list"></stream-item>
        <div class="stream-container">
            <div>
                <div>
                    <img src="{{sourcePicture}}"/>
                </div>
                <stream-source
                        [inputStream]="streamSourceInput"
                        (outputStream)="sourceComplete($event)"></stream-source>
            </div>
            <div>
                <div>
                    <img src="{{filterPicture}}"/>
                </div>
                <filter-stream (outputStream)="filterOneComplete($event)"
                               [inputStream]="sourceOutput"
                               [filterFunction]="filterOne"
                ></filter-stream>
            </div>
            <div>
                <div>
                    <img src="{{flatmapPicture}}"/>
                </div>
                <flatMap-stream (outputStream)="flatMapOneComplete($event)"
                                [inputStream]="filterOutputStream"
                                [mappingFunction]="flatMapOne"
                ></flatMap-stream>
            </div>
            <div>
                <div>
                    <img src="{{mapPicture}}"/>
                </div>
                <map-stream (outputStream)="mapOneComplete($event)"
                            [inputStream]="flatMapOutputStream"
                            [mappingFunction]="mapOne"
                ></map-stream>
            </div>
        </div>
    </div>
</div>