<div>
    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Filter</h1>
            <div>
                <p class="lead">
                    Can prevent items from continuing downstream
                </p>
                <div class="lead">
                    <p>
                        Accepts a Predicate, which is a function that
                        takes a type and returns a boolean.
                    </p>
                    <p>
                        A return of `true` means that the item can
                        continue dowstream. While `false` means it stops
                        at the filter.
                    </p>
                </div>
            </div>
        </div>
    </main>
    <div>
        <a class="btn btn-sm btn-warning"
           routerLink="/streams">back</a>
        <stream-item [streamItem]="list"></stream-item>
        <div class="stream-container">
            <div>
                <div>
                    <img src="{{sourcePicture}}"/>
                </div>
                <stream-source
                        [inputStream]="streamSourceInput"
                        (outputStream)="sourceComplete($event)"></stream-source>
            </div>
            <div>
                <div>
                    <img src="{{filterPicture}}"/>
                </div>
                <filter-stream (outputStream)="filterOneComplete($event)"
                               (filteredOutputStream)="filterOneComplete($event)"
                               [inputStream]="sourceOutput"
                               [filterFunction]="filterOne"
                ></filter-stream>
            </div>
        </div>
    </div>
</div>

