<div>
    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Flat Map... again</h1>
            <div>
                <p class="lead">
                    Same deal,
                    Transforms the contents of a stream into a stream and
                    unwraps each stream so that each item of the unwrapped stream
                    is processed individually downstream.
                </p>
                <div class="lead">
                    <p>
                        Accepts a function that accepts a type and returns
                        a stream.
                    </p>
                    <p>
                        I just wanted to show that
                        mapping to a list/stream is not necessary beforehand.
                    </p>
                </div>
            </div>
        </div>
    </main>
    <div>
        <div>
            <a class="btn btn-sm btn-warning"
               routerLink="/streams">back</a>
            <div class="btn btn-lg btn-primary" (click)="startStreamOne()">
                start stream
            </div>
            <stream-item [streamItem]="list"></stream-item>
            <div class="stream-container">
                <div>
                    <div>
                        <img src="{{sourcePicture}}"/>
                    </div>
                    <stream-source
                            [inputStream]="streamSourceInput"
                            (outputStream)="sourceComplete($event)"></stream-source>
                </div>
                <div>
                    <div>
                        <img src="{{flatmapPicture}}"/>
                    </div>
                    <flatMap-stream (outputStream)="flatMapOneComplete($event)"
                                    [inputStream]="sourceOutputStream"
                                    [mappingFunction]="flatMapOne"
                    ></flatMap-stream>
                </div>
            </div>
        </div>
    </div>
</div>

