<main role="main" class="container">
    <div class="jumbotron heading">
        <h1>Project Rector Concepts!</h1>
        <div>
            <p class="lead">
                Animations that demonstrate Project Reactor's API
            </p>
        </div>
    </div>
    <div>
        <div class="post-row">
            <div class="post-container">
                <h2>
                    <span class="post-link" >Intermediate Operations</span>
                </h2>
                <div class="post-excerpt">
                    <a class="btn btn-lg btn-outline-info"
                       routerLink="visualisations/intermediate/zipWith">zipWith</a>
                </div>
            </div>
        </div>
    </div>
</main>
