<main role="main" class="container">
    <div class="jumbotron heading click-linky"  routerLink="/reactive/what">
        <h1>What?</h1>
        <div>
            <p class="lead">
                What does it mean to be reactive?
            </p>
            <div>
                <p>
                    What are the characteristics that systems possesses that makes it reactive?
                </p>
            </div>
        </div>
    </div>
</main>
<main role="main" class="container">
    <div class="jumbotron heading click-linky"  routerLink="/reactive/why">
        <h1>Why?</h1>
        <div>
            <p class="lead">
                What do reactive systems that regular system cannot?
            </p>
            <div>
                <p>
                    What are the selling points as to why and when we should create systems built using reactive programming?
                </p>
            </div>
        </div>
    </div>
</main>
<main role="main" class="container">
    <div class="jumbotron heading click-linky"  routerLink="/reactive/how">
        <h1>How?</h1>
        <div>
            <p class="lead">
                How do we build reactive systems?
            </p>
            <div>
                <p>
                    Now that we know when and why we want reactive systems, we need to know how to build them!
                </p>
            </div>
        </div>
    </div>
</main>


<div class="btn btn-warning" routerLink="/">Go home bruv</div>