<main role="main" class="container">
    <div class="jumbotron heading click-linky">
        <h1>Enter Reactive Programming!</h1>
        <div>
            <p class="lead">
                Welcome! you can find resources about reactive programming below
            </p>
        </div>
    </div>
    <div>
        <div class="post-row">
            <div class="post-container" routerLink="/reactive/explanations">
                <h2>
                    <span class="post-link" >Reactive 101</span>
                </h2>
                <div class="post-excerpt">
                    Some words about what this is
                </div>
            </div>
        </div>
        <div class="post-row">
            <div class="post-container"routerLink="/reactive/concepts">
                <h2>
                    <span class="post-link">Reactive Concepts</span>
                </h2>
                <div class="post-excerpt">
                    Some words about what this is
                </div>
            </div>
        </div>
    </div>
</main>



<div class="btn btn-warning" routerLink="/">Go home bruv</div>