<main role="main" class="container">
    <div class="jumbotron heading">
        <h1>Enter Reactive Programming!</h1>
        <div>
            <p class="lead">
                Welcome! you can find resources about reactive programming below
            </p>
        </div>
    </div>
    <div>
        <div class="post-row">
            <div class="post-container clickable" routerLink="/reactive/explanations">
                <h2>
                    <span class="post-link" >Reactive 101</span>
                </h2>
                <div class="post-excerpt">
                    If this is the first time you have heard about reactive programming this is a great place to start.
                    This section covers the "what, how, and why" of building reactive systems.
                </div>
            </div>
        </div>
        <div class="post-row">
            <div class="post-container clickable"routerLink="/reactive/concepts">
                <h2>
                    <span class="post-link">Reactive Concept Visualisations</span>
                </h2>
                <div class="post-excerpt">
                    Words on a page are okay sometimes. However, the saying is that a picture is worth a thousand words.
                    Well then animations are probably worth a lot more!
                    You will find all of the things that should help you understand what the underlying concepts that all reactive systems and languages hold.
                </div>
            </div>
        </div>
    </div>
</main>