<main role="main" class="container">
    <div class="jumbotron">
        <h1>What?</h1>
        <div>
            <p class="lead">
                What does it mean to be reactive?
            </p>
            <div>
                <p>
                    The following section will define the characteristics that reactive systems possess.
                </p>
            </div>
        </div>
    </div>
</main>
<main role="main" class="container">
    <div class="jumbotron">
        <h1>Why?</h1>
        <div>
            <p class="lead">
                Why do we want to build reactive systems?
            </p>
            <div>
                <p>
                    The following section will expand more as to why reactive systems are necessary.
                </p>
            </div>
        </div>
    </div>
</main>
<main role="main" class="container">
    <div class="jumbotron">
        <h1>How?</h1>
        <div>
            <p class="lead">
                How do we build reactive systems?
            </p>
            <div>
                <p>
                    Now that we know when we want reactive systems, we need to know how to build them!
                </p>
            </div>
        </div>
    </div>
</main>


<div class="btn btn-warning" routerLink="/">Go home bruv</div>