<main role="main" class="container">
    <div class="jumbotron heading">
        <h1>Reactive Concept Visualisations!</h1>
        <div>
            <p class="lead">
                What do these words and abstractions mean? Let's find out!
            </p>
        </div>
    </div>
    <div>
        <div class="post-row">
            <div class="post-container clickable" routerLink="/reactive/concepts/visualisations">
                <h2>
                    <span class="post-link" >Reactive Terminology</span>
                </h2>
                <div class="post-excerpt">
                    The reactive programming paradigm introduces new concepts that are implemented using declarative programming practices.
                    Here you will find the resources necessary to get a solid foundation of understanding!
                </div>
            </div>
        </div>
        <div class="post-row">
            <div class="post-container clickable" routerLink="/reactive/concepts/reactor">
                <h2>
                    <span class="post-link">Project Reactor Concepts</span>
                </h2>
                <div class="post-excerpt">
                    Each reactive library has an API that has things that are different than others.
                    Here you will be able to find visualisations of API methods that exist in th Project Reactor library.
                </div>
            </div>
        </div>
    </div>
</main>
