<main role="main" class="container">
    <div class="jumbotron heading"  routerLink="/reactive/explanations/what">
        <h1>Reactive Visualisations!</h1>
        <div>
            <p class="lead">
                What do these words and abstractions mean? Let's find out!
            </p>
        </div>
    </div>
    <div>
        <div class="post-row">
            <div class="post-container">
                <h2>
                    <span class="post-link" >Reactive Sequences</span>
                </h2>
                <div class="post-excerpt">
                    <a class="btn btn-lg btn-outline-info"
                       routerLink="sequences/cold">Cold Sequence</a>
                    <a class="btn btn-lg btn-outline-info"
                       routerLink="sequences/hot">Hot Sequence</a>
                </div>
            </div>
        </div>
        <div class="post-row">
            <div class="post-container"routerLink="/reactive/concepts/reactor">
                <h2>
                    <span class="post-link">Project Reactor Concepts</span>
                </h2>
                <div class="post-excerpt">
                    Some words about what this is
                </div>
            </div>
        </div>
    </div>
</main>
