<div>
    <main role="main" class="container">
        <div class="jumbotron">
            <markdown>
                What does being _Reactive_ mean?
                ---
            </markdown>
            <p class="lead">
                It means many things to many people.
            </p>
        </div>
        <div>
            <div>
                Project Reactor (which is what Spring WebFlux is built on top of) defines it as:
            </div>

            <div class="blockquote">
                An asynchronous programming paradigm concerned with data streams and the propagation of change.
                This means that it becomes possible to express static (e.g. arrays) or dynamic (e.g. event emitters)
                data streams with ease via the employed programming language(s).
            </div>


            While the folks over at Spring says that it:

            <div class="blockquote">
                Refers to programming models that are built around reacting to change: network component reacting to
                I/O events, UI controller reacting to mouse events, etc.
                In that sense, non-blocking is reactive because instead of being blocked we are now in the mode of
                reacting to notifications as operations complete or data becomes available.
            </div>

        </div>
    </main>
    <div class="btn btn-warning" routerLink="/">Go home bruv</div>
</div>
