<div>
    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Collection Source</h1>
            <div>
                <p class="lead">
                    Sends the contents of a collection downstream
                    at most once per stream creation.
                </p>
            </div>
        </div>
    </main>
    <div>
        <a class="btn btn-sm btn-warning"
           routerLink="/streams">back</a>
        <stream-item [streamItem]="list"></stream-item>
        <div class="stream-container">
            <div>
                <div>
                    <img src="{{picture}}"/>
                </div>
                <stream-source
                        [inputStream]="streamSourceInput"
                        (outputStream)="sourceComplete($event)"></stream-source>
            </div>
        </div>
    </div>
</div>

