<div>
    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Object Generation</h1>
            <div>
                <p class="lead">
                    Creates a stream based from a function that supplies
                    a stream object, for any specified amount of invocations.
                </p>
            </div>
        </div>
    </main>
    <div>
        <a class="btn btn-sm btn-warning"
           routerLink="/streams">back</a>
        <div class="stream-container">
            <div>
                <div>
                    <img src="{{picture}}"/>
                </div>
                <stream-source
                        [inputStream]="streamSourceInput"
                        (outputStream)="sourceComplete($event)"></stream-source>
            </div>
        </div>
    </div>
</div>

