<main role="main" class="container">
    <div class="jumbotron heading">
        <h1>Stream Sources</h1>
        <div>
            <p class="lead">
                Where is you data coming from?
            </p>
            <div>
                <p>
                    Here are a couple of the common stream sources you may find in the wild.
                </p>
            </div>
            <div>
                <a class="btn btn-lg btn-outline-info"
                   routerLink="/streams/source/generate">Generation Source</a>
                <a class="btn btn-lg btn-outline-info"
                   routerLink="/streams/source/collection">Collection Source</a>
            </div>
        </div>
    </div>
</main>
<main role="main" class="container">
    <div class="jumbotron heading">
        <h1>Intermediate Operations</h1>
        <div>
            <p class="lead">
                The things that make streams actually useful.
            </p>
            <div>
                <p>
                    Take a peek at some of what these functional interfaces do.
                </p>
            </div>
            <div>
                <a class="btn btn-lg btn-outline-info"
                   routerLink="/streams/intermediate/map">Map</a>
                <a class="btn btn-lg btn-outline-info"
                   routerLink="/streams/intermediate/filter">Filter</a>
                <a class="btn btn-lg btn-outline-info"
                   routerLink="/streams/intermediate/flatmap">Flat Map 101</a>
                <a class="btn btn-lg btn-outline-info"
                   routerLink="/streams/intermediate/flatmap2">Flat Map</a>
                <a class="btn btn-lg btn-outline-info"
                   routerLink="/streams/intermediate/complete">Complete</a>
            </div>
        </div>
    </div>
</main>
