<main role="main" class="container">
    <div class="jumbotron">
        <h1>Sources</h1>
        <div>
            <p class="lead">
                All things source happy
            </p>
            <div>
                <p>
                    Just a couple of the common stream sources you may find in the wild
                </p>
            </div>
            <div>
                <a class="btn btn-lg btn-outline-info"
                   routerLink="/streams/source/generate">Generation</a>
                <a class="btn btn-lg btn-outline-info"
                   routerLink="/streams/source/collection">Collection</a>
            </div>
        </div>
    </div>
</main>
<main role="main" class="container">
    <div class="jumbotron">
        <h1>Intermediate Operations</h1>
        <div>
            <p class="lead">
                The stuff that makes streams tick
            </p>
            <div>
                <p>
                    Streams would not be as powerful if not for deez.
                </p>
            </div>
            <div>
                <a class="btn btn-lg btn-outline-info"
                   routerLink="/streams/intermediate/map">Map</a>
                <a class="btn btn-lg btn-outline-info"
                   routerLink="/streams/intermediate/filter">Filter</a>
                <a class="btn btn-lg btn-outline-info"
                   routerLink="/streams/intermediate/flatmap">Flat Map 101</a>
                <a class="btn btn-lg btn-outline-info"
                   routerLink="/streams/intermediate/flatmap2">Flat Map</a>
                <a class="btn btn-lg btn-outline-info"
                   routerLink="/streams/intermediate/complete">Complete</a>
            </div>
        </div>
    </div>
</main>
<main role="main" class="container">
    <div class="jumbotron">
        <h1>Terminal Operations</h1>
        <div>
            <p class="lead">
                TBD
            </p>
            <div>
                <p>
                    There is not enough time in the day :)
                </p>
            </div>
        </div>
    </div>
</main>

<div class="btn btn-warning" routerLink="/">Go home bruv</div>